---
layout: default
title: Opinário
---


{% for post in paginator.posts %}
<div class="entry">
<!--<div class="posts">-->
<hr>
<div class="entry-content">
<h2 class="entry-title">
<a class="white" href="{{ post.url }}"><span class="icon icon-forward entry-icon"></span>{{ post.title }}</a>
</h2>
</div>
<!--<div class="post"><h2 class="post-title"><a class="white" href="{{ post.url }}">{{ post.title }}</a></h2></div>-->

{{ post.content }}
<a class="entry-thumb" href="{{ post.url }}" title="Visit {{ post.title }}" target="_blank">
<span class="icon icon-forward entry-icon"></span>
</a>
<div class="entry-content">
<!--<h2 class="entry-title">
<a href="{{ post.url }}">{{ post.title }}</a>
</h2>-->
<p class="entry-date">{{ post.date | date: "%B %-d, %Y" }}</p>
</div>
</div>
<hr>
{% endfor %}

{% include pagination.html %}
