<div class="masthead">
<a href="/" class="block_link">&nbsp;</a>
<h1 class="masthead-title logo">
<a href="/">{{ site.name }}</a>
</h1>
<p class="masthead-lead">
Observatório Oceanográfico do Canhão da Nazaré
</p>
<hr class="masthead-hr">
<ul class="masthead-nav">
<li class="nav-item">
<a class="nav-link{% if page.title == "Home" %} nav-link-active{% endif %}" href="/">Home</a>
</li>
{% assign pages_list = site.pages %}
{% for node in pages_list %}
{% if node.title != null %}
{% if node.layout == "page" %}
<li class="nav-item">
<a class="nav-link{% if page.url == node.url %} nav-link-active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
</li>
{% endif %}
{% endif %}
{% endfor %}
</ul>
<hr class="masthead-hr">
<ul class="masthead-nav">
<!--<li class="nav-item"><a class="nav-link" href="/about#suggestions" target="">Suggest a site</a></li>-->
<!--
<li class="nav-item"><a class="nav-link" href="http://musica.oocn.eu" target="_blank">Música</a></li>
<li class="nav-item"><a class="nav-link" href="http://web.oocn.eu" target="_blank">WEB</a></li>
<li class="nav-item"><a class="nav-link" href="http://blog.oocn.eu" target="_blank">Blog</a></li>
<li class="nav-item"><a class="nav-link" href="http://pedreira.oocn.eu" target="_blank">Pedreira</a></li>
<li class="nav-item"><a class="nav-link" href="http://noticias.oocn.eu" target="_blank">Notícias</a></li>
<li class="nav-item"><a class="nav-link" href="http://politica.oocn.eu" target="_blank">Politica</a></li>
<li class="nav-item"><a class="nav-link" href="http://democracia.oocn.eu" target="_blank">Democracia</a></li>
<li class="nav-item"><a class="nav-link" href="http://engenharia.oocn.eu" target="_blank">Engenharia</a></li>
<li class="nav-item"><a class="nav-link" href="http://mmxiv.oocn.eu" target="_blank">mmxiv</a></li>
<li class="nav-item"><a class="nav-link" href="http://mmxiii.oocn.eu" target="_blank">mmxiii</a></li>
<li class="nav-item"><a class="nav-link" href="/feed.xml" target="_blank">RSS</a></li>
-->
{% assign pages_list = site.pages %}
{% for node in pages_list %}
{% if node.title != null %}
{% if node.layout == "redirect" %}
<li class="nav-item">
<a target="_blank" class="nav-link{% if page.url == node.url %} nav-link-active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
</li>
{% endif %}
{% endif %}
{% endfor %}
</ul>
<hr class="masthead-hr">
<!--{% include carbonads.html %}-->
<hr class="masthead-hr visible-xs">
{% include markting.html %}
</div>
