{% if paginator.total_pages > 1 %}
<div class="paginator">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }} " class="paginate older">&laquo; Prev</a>
  {% else %}
    <span class="paginate next">&laquo; Prev</span>
  {% endif %}



  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a> 
  {% else %}
    <span class="paginate previous">Next &raquo;</span>
  {% endif %}
</div>
<div class="pagination">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}" class="paginate newer">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }} " class="paginate newer">{{ page }}</a>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
